<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form name="loginForm" th:action="@{/loginProc}" method="post">
        <label for="username">username</label>
        <input type="text" id="username" name="username" placeholder="username">
        <label for="password">password</label>
        <input type="text" id="password" name="password" placeholder="password">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
        <button type="submit">login</button> </form>
</div> <!-- /container -->
</body>
</html>