<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/loginProc" method="post" name="loginForm">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" id="username" name="username" placeholder="username">
            <label for="password">password</label>
            <input type="text" id="password" name="password" placeholder="password">
        </div>
        <button type="submit">login</button> </form>
</div> <!-- /container -->
</body>
</html>